# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
print("My name is DAARA ARUNRAJ")

My name is DAARA ARUNRAJ

In [ ]:
# CODE HERE

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [2]:
# Variable is a container used to store the data
#rules for declaring a variable
# 1. must start with a letter or underscore
#2. Cannot start with numbers and any speccial charecters except underscore
#3.must contains alpha numeric chareters A-z and

a = 10
print(a)

10

In [ ]:
# Code Here

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [5]:
width = 17
height = 12.0
delimiter = '.'
print(width/2)
print(width/2.0)
print(height/3)
print(1+2*5)
print(delimiter*5)

8.5
8.5
4.0
11
.....

In [ ]:
# CODE HERE

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [8]:
first_number = int(input("enter the first number is : "))
second_number = int(input("enter the second number is : "))
print("Addition of two numbers are : ",first_number + second_number)

enter the first number is : 100
enter the second number is : 200
Addition of two numbers are :  300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [9]:
# CODE HERE
first_name = input("enter the first name is : ")
second_name = input("enter the second name is : ")
print("Addition of two names are : ",first_name + second_name)

enter the first name is : DAARA
enter the second name is : ARUNRAJ
Addition of two names are :  DAARAARUNRAJ

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [10]:
# CODE HERE
print(type(10))
print(type('10'))
print(type(True))
print(type(10.5))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:`
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [13]:
# CODE HERE
num_int = 123
num_str = "456"
num_str = int(num_str)
print("Addition of {} and {} is : {}".format(num_int,num_str,num_str))

Addition of 123 and 456 is : 456

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [14]:
# CODE HERE
r = 5
print("volume of sphere is : ",(4/3)*3.14*r**3)

volume of sphere is :  523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [15]:
# CODE HERE
# Constants
cover_price = 24.95
discount_rate = 0.40
num_copies = 60
shipping_first_copy = 3.00
shipping_additional_copy = 0.75  # in Rs.

# Calculate the wholesale price after discount
discounted_price = cover_price * (1 - discount_rate)

# Calculate shipping cost
total_shipping_cost = shipping_first_copy + (num_copies - 1) * shipping_additional_copy

# Calculate total cost for all copies
total_cost = (discounted_price * num_copies) + total_shipping_cost

# Print the total wholesale cost
print("Total wholesale cost for {} copies is: Rs.{:.2f}".format(num_copies, total_cost))

Total wholesale cost for 60 copies is: Rs.945.45

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)